<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="app">
    <div class="container-fluid" ng-controller="appController">
        <form role="form" name="frmSupervisorNotification">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <h1>Notification Form</h1>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="txtFirstNameId">First Name</label>
                    <input id="txtFirstNameId" name="txtFirstName" type="text" class="form-control" ng-model="FirstName" ng-change="FirstNameOnChange(FirstName)" placeholder="(enter first name)" required />
                    <span style="color: red" ng-show="ShowFirstNameRequiredValidation()">First Name is required.</span>
                    <span style="color:red" ng-show="ShowFirstNameNumbersValidation()">First Name contains number(s).</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="txtLastNameId">Last Name</label>
                    <input id="txtLastNameId" name="txtLastName" type="text" class="form-control" ng-model="LastName" ng-change="LastNameOnChange(LastName)" placeholder="(enter last name)" required />
                    <span style="color: red" ng-show="ShowLastNameRequiredValidation()">Last Name is required.</span>
                    <span style="color:red" ng-show="ShowLastNameNumbersValidation()">Last Name contains number(s).</span>
                </div>
            </div>
            <div class="form-row">
                <label>How would you prefer to be notified?</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-check form-check-inline">
                        <input id="chkEmailId" name="chkEmail" class="form-check-input" type="checkbox" ng-model="UsesEmail" ng-change="CheckEmailOnChange(UsesEmail)" />
                        <label class="form-check-label" for="chkEmailId">Email</label>
                    </div>
                    <input id="txtEmailId" name="txtEmail" type="text" class="form-control" ng-model="Email" ng-disabled="TextEmailDisabled" placeholder="(enter email address)" />
                    <span style="color: red" ng-show="ShowOneRequiredValidation()">Either the Email or the Phone Number is required.</span>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check form-check-inline">
                        <input id="chkPhoneNumberId" name="chkPhoneNumber" class="form-check-input" type="checkbox" ng-model="UsesPhoneNumber" ng-change="CheckPhoneNumberOnChange(UsesPhoneNumber)" />
                        <label class="form-check-label" for="chkPhoneNumberId">Phone Number</label>
                    </div>
                    <input id="txtPhoneNumberId" name="txtPhoneNumber" type="tel" class="form-control" ng-model="PhoneNumber" ng-disabled="TextPhoneNumberDisabled" placeholder="(enter phone number)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <label for="ddlSupervisorId">Supervisor</label>
                    <select id="ddlSupervisorId" name="ddlSupervisor" class="form-control" ng-model="SelectedSupervisor"
                            ng-options="user.Value as user.Text for user in Supervisors" required></select>
                    <span style="color: red" ng-show="ShowSupervisorRequiredValidation()">Supervisor is required.</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 offset-md-5">
                    <button type="button" class="btn btn-primary active" ng-click="SubmitSupervisorNotification()" ng-disabled="SubmitButtonDisabled()">SUBMIT</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <span style="color: red">{{ SubmitMessage }}</span>
                </div>
            </div>
        </form>
    </div>
</body>
</html>